.navbar{
    background-color: #009879;
}

.styleProfile{
    display: flex;
    font-size: 20px;
    margin-right: 20px;
}

img{
    border-radius: 20px;
}

.navbar{
    background-color: #009879;
}

#navbarDropdownMenuLink{
    color: white;
}
