<div class="navbar navbar-default navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../../assets/images/logo4.png" alt="" width="250" height="60">
    </div>
    <li class="nav-item dropdown styleProfile">
      <a  class="nav-link dropdown-toggle" 
          href="#" id="navbarDropdownMenuLink" 
          role="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          Profile
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
        <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
      </ul>
    </li>
  </div>
</div>
