<div class="container">
  <form [formGroup]="loginSection" (ngSubmit)="checkIfUserExists(loginSection);">
      <div class="welcome">
        <p><h1>Welcome to Delivery Solution</h1>
      </div>
        <!-- Email input -->

        <div class="form-outline mb-4">
          <input type="email" id="emailAddress" class="form-control" formControlName="loginEmail"/>
          <label class="form-label" for="emailAddress">Email address</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" formControlName="loginPassword" />
          <label class="form-label" for="password">Password</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button> 

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/register">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google" routerLink="/hiddenView"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter" routerLink="/hiddenView"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github" routerLink="/hiddenView"></i>
          </button>
        </div>
  </form>
</div>